@media  screen and (max-width: 800px) {
    html{
        font-size: 7px;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
}
@media  screen and (max-width: 600px) {
    .location-container{
        flex-direction: column;
        
    }
    .location-container-img{
        width: 100%;
        height: 25rem;
    }
    .location-container-left{
        width: 100%;
    }
}
